.coin {
    border-style: solid;
    border-color: black;
    border-radius: 25px;
    font-weight: 200;
    width: 10%;
    height: 15%;
    margin: 8px;
    align-content: center;
    justify-content: center;
}